<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
    <!--<%= f.label :title_or_description_or_user_name_cont, "Search:" %>-->
    <%= f.text_field :title_or_description_or_user_name_cont %>
    <%= f.submit "Search", :title => nil, :class => "btn" %>
    <!--<%= f.submit "Clear", :title => nil, :class => "btn", :id => :q_reset %>-->
    <% if can? :create, Post %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_post_path,
                    :class => 'btn btn-primary' %>
    <% end %>
      <span class="badge"><%= @search.result.count %></span> of
      <span class="badge badge-inverse"><%= Post.count %></span>
<% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :created_at, "Created" %></th>
      <th><%= sort_link @search, :title, "Title" %></th>
      <th><%= sort_link @search, :description, "Description" %></th>
      <th><%= sort_link @search, :user_id, "User" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to l(post.created_at, :format => :long), post_path(post) %></td>
        <td><%= post.title %></td>
        <td><%= post.description.gsub('\n','<br>').html_safe %> <%=  %></td>
        <td><%= link_user_search post %></td>

        <td>
          <% if can? :edit, post %>
              <%= link_to_edit(post, "btn btn-mini") %>
          <% end %>
          <% if can? :destroy, post %>
              <%= link_to_destroy(post, "btn btn-mini btn-danger") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>
