<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<%= search_form_for @search, :html => {:class => "form-inline"} do |f| %>
    <!--<%= f.label :title_or_description_cont, "Search:" %>-->
    <%= f.text_field :title_or_description_cont %>
    <%= f.submit "Search", :title => nil, :class => "btn" %>
    <%= f.submit "Clear", :title => nil, :class => "btn", :id => :q_reset %>
    <% if can? :create, Post %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_post_path,
                    :class => 'btn btn-primary' %>
    <% end %>
      <span class="badge"><%= @search.result.count %></span> of
      <span class="badge badge-inverse"><%= Post.count %></span>
<% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.id, post_path(post) %></td>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.user.name if post.user %></td>
        <td><%=l post.created_at %></td>
        <td>
          <% if can? :edit, post %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_post_path(post), :class => 'btn btn-mini' %>
          <% end %>

          <% if can? :destroy, post %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          post_path(post),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>
