<h3>User</h3>
<div class="span6">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Name</td>
      <td><%= link_to @user.name, @user %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Registered</td>
      <td><%= @user.created_at.to_date %></td>
    </tr>
    <tr>
      <td>Roles</td>
      <td><%= @user.roles.first.name.titleize unless @user.roles.first.nil? %></td>
    </tr>
    <tr>
      <td colspan="2">
        <% if current_user.has_role? :admin %>
            <a data-toggle="modal" href="#role-options-<%= @user.id %>" class="btn btn-mini" type="button">Change
              role</a>
            <%= link_to("Delete user", user_path(@user), :data => {:confirm => "Are you sure?"}, :method => :delete, :class => 'btn btn-mini') if current_user.has_role? :admin %>
        <% end %>
        <%= render @user %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
