<%- model_class = Post -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human %></h1>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#tabs1-pane1" data-toggle="tab">Details</a></li>
  <li><a href="#tabs1-pane2" data-toggle="tab">Tab 2</a></li>
  <li><a href="#tabs1-pane3" data-toggle="tab">Tab 3</a></li>
  <li><a href="#tabs1-pane4" data-toggle="tab">Tab 4</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tabs1-pane1">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
      <dd><%= @post.created_at %> about <%= time_ago_in_words(@post.created_at) %> ago</dd>
      <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
      <dd><%= @post.title %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= @post.description %></dd>
      <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
      <dd><%= link_user_search @post %></dd>
    </dl>
  </div>
  <div class="tab-pane" id="tabs1-pane2">
    <h4>Pane 2 Content</h4>

    <p>Phasellus eget justo lacus. Vivamus pharetra ullamcorper massa, nec ultricies metus gravida egestas. Duis congue
      viverra arcu, ac aliquet turpis rutrum a. Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus
      at nisi turpis.</p>
  </div>
  <div class="tab-pane" id="tabs1-pane3">
    <h4>Pane 3 Content</h4>

    <p>Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id
      felis cursus hendrerit. Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus
      ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
  </div>
  <div class="tab-pane" id="tabs1-pane4">
    <h4>Pane 4 Content</h4>

    <p>Donec semper vestibulum dapibus. Integer et sollicitudin metus. Vivamus at nisi turpis. Phasellus vel tellus id
      felis cursus hendrerit. Suspendisse et arcu felis, ac gravida turpis. Suspendisse potenti. Ut porta rhoncus
      ligula, sed fringilla felis feugiat eget. In non purus quis elit iaculis tincidunt. Donec at ultrices est.</p>
  </div>
</div><!-- /.tab-content -->
</div><!-- /.tabbable -->

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn' %>
  <% if can? :edit, @post %>
      <%= link_to_edit(@post) %>
  <% end %>
  <% if can? :destroy, @post %>
      <%= link_to_destroy(@post) %>
  <% end %>

</div>
